@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


html {
     font-family: 'Montserrat', sans-serif !important;
}

/*BEGIN - GLOBAL*/
.m0 {
    margin: 3px;
}

.m0-overflow {
    margin: 0px;
}

.m0 .help-block-danger {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    border: 4px;
    border-radius: 5px;
    color: #ffffff;
    background: #c2dbe5;
}

.m0 .help-block-status {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    border: 4px;
    border-radius: 5px;
    color: #FFffff;
    background: #c2dbe5;
}
.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.p0 {
    padding: 0px;
}

.hideit {
    display: none;
}

.icon-text {
    display: inline-block;
}

.icon-text i {
    font-size: 12px;
    color: #000000;
}

.icon-text span {
    font-size: 12px;
    padding-left: 2px;
    color: #444;
}

/* Infobox MAP */
.info-box-wrap {
    background: #fff;
    overflow: hidden;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
}

.info-box-text-wrap {
    height: 40px !important;
    width: 120px;
    float: left;
    overflow: hidden;
}

.action-btns {
    float: left;
    width: 70px;
    overflow: hidden;
    position: relative;
    top: 12px;
    left: 6px;
}

.action-btns i {
    font-size: 18px;
    color: #78A737;
    margin-left: 3px;
}

.action-btns i:hover {
    transition: color 0.5s ease;
    color: #ccc;
    cursor: pointer;
}

.action-btns i.fa-heart-o {
    font-weight: bold;
}

.info-box-text-wrap h6.address {
    padding: 6px 5px 1px 0;
    margin: 0 0 0 0;
    color: #0c99c8;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box-text-wrap p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.info-box-text-wrap p.price {
    color: #B25B00;
}

.info-box-wrap img {
    width: 40px !important;
    height: 40px;
    float: left;
    margin-right: 10px;
    padding-top: 0;
    margin-top: 0;
}

/* end */

/*+ Margin*/
.m10-b {
    margin-bottom: 10px;
}

.m20-b {
    margin-bottom: 20px;
}

.m30-b {
    margin-bottom: 30px;
}

.m40-b {
    margin-bottom: 40px;
}

.m50-b {
    margin-bottom: 50px;
}

/*Begin - 08/02/2017*/
.advSearch-wrap {
    width: 100%;
    background-color: #f2f2f2;
    padding: 8px;
    margin-top: 100px;
    border-radius: 4px;

    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.advSearch-wrap .advSearch-title {
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
    color: #444;
}

.advSearch-wrap .advSearch-input {
    padding-left: 5px;
    padding-right: 5px;
}

.advSearch-wrap .advSearch-input:first-child {
    padding-left: 0px;
}

.advSearch-wrap .advSearch-input:last-child {
    padding-right: 0px;
}

.advSearch-wrap .advSearch-input .title {
    font-size: 10px;
    text-align: left;
    width: 100%;
    color: #777;
    margin-bottom: 4px;
}

.advSearch-wrap .advSearch-input select {
    line-height: 30px;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0px 4px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(https://image.flaticon.com/icons/png/512/3/3907.png);
    background-size: 8px;
    background-position: right 8px center;
    background-repeat: no-repeat;
}

.adv-search {
    padding: 4px 8px;
    background-color: #f2f2f2;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 37%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 10px;
    color: #777;
}

.adv-search:hover {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    color: #444;
}

.adv-search:active, .adv-search:focus {
    color: #444;
}

.adv-search img {
    display: inline-block;
    margin-left: 8px;
    width: 8px;
}

.adv-search img.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

/*End - 08/02/2017*/
/*+ Button*/
.l-button {
    display: inline-block;
    padding: 5px;
    border: 1px solid #000;
    color: #000;
    font-size: 12px;
}

.l-button:hover {
    display: inline-block;
    padding: 5px;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
}

.l-button.red {
    display: inline-block;
    padding: 8px;
    border: 1px solid rgba(226, 26, 34, 1);
    color: rgba(226, 26, 34, 1);
}

.l-button.red:hover {
    display: inline-block;
    padding: 8px;
    border: 1px solid rgba(226, 26, 34, 1);
    color: #fff;
    background-color: rgba(226, 26, 34, 1);
}

.l-button.blue {
    display: inline-block;
    padding: 8px;
    border: 1px solid rgba(58, 125, 227, 1);
    color: rgba(58, 125, 227, 1);
}

.l-button.blue:hover {
    display: inline-block;
    padding: 8px;
    border: 1px solid rgba(58, 125, 227, 1);
    color: #fff;
    background-color: rgba(58, 125, 227, 1);
}

/*+ Position*/
.pos-relative {
    position: relative;
}
.pos-relative1 {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

/*+ Footer*/
#page-footer .inner #footer-main {
    position: relative;
}

#page-footer .inner #footer-main:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background-image: url('../../images/remax_footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: bottom -90px left;*/
}

/*END - GLOBAL*/

#flag-icon {
    width: 40px;
    height: 40px;
}

/*BEGIN - HOME*/
.home-section {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../images/backgroundPage/Homepagev2.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 240px) and (max-width: 499px) {
    .home-section {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../images/backgroundPage/Homepagev2.jpg');
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.tabs-wrap ul li a {
    font-size: 15px;
}


.home-section .home-center {
    width: 100%;
    max-width: 700px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.home-section .home-center object {
    width: 139px;
    height: 30px;
    margin-bottom: 5px;
}

.home-section .home-center .tabs-wrap {
    width: 100%;
    text-align: left;
    margin-bottom: -3px;
}
@media screen and (min-width: 240px) and (max-width: 499px) {
   .home-section .home-center .tabs-wrap {
    width: 100%;
    text-align: left;
    margin-bottom: -3px;
}
}



.home-section .home-center .tabs-wrap ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.home-section .home-center .tabs-wrap li {
    list-style: none;
    display: inline-block;
    float: left;
}

.home-section .home-center .tabs-wrap li a {
    display: block;
    padding: 8px 16px;
    color: #fff;
    background-color: green;
}

.home-section .home-center .tabs-wrap li a.active {
    position: relative;
}

.home-section .home-center .tabs-wrap li a.active::before {
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: -1px;
}

.home-section .home-center .tabs-wrap li a.buy {
    background-color: rgba(226, 26, 34, 1);
    border-radius: 2px;
}

.home-section .home-center .tabs-wrap li a.rent {
    background-color: rgba(58, 125, 227, 1);
    border-radius: 2px;
}

.home-section .home-center .search-wrap input {
    width: 80%;
    height: 48px;
    padding: 8px;
    border-radius: 4px;

}

.home-section .home-center .search-wrap button {
    width: 20%;
    padding: 0px;
    height: 48px;
    line-height: 40px;
}


/*home-section2*/


.tabs-wrap1 ul li a {
    font-size: 15px;
}

.home-center1 {
    width: 100%;
    max-width: 700px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999999;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.home-center1 object {
    width: 139px;
    height: 30px;
    margin-bottom: 5px;
    z-index: 9999999999;
}

.home-center1 .tabs-wrap1 {
    width: 100%;
    text-align: left;
    z-index: 9999999999;
}

.home-center1 .tabs-wrap1 ul {
    margin: 0px;
    padding: 0px;
    z-index: 9999999999;
    list-style: none;
}

.home-center1 .tabs-wrap1 li {
    list-style: none;
  
    float: left;
    z-index: 9999999999;
}

.home-center1 .tabs-wrap1 li a {
  
    padding: 8px 16px;
    color: #fff;
    background-color: green;
    z-index: 9999999999;
}

.home-center1 .tabs-wrap1 li a.active {
    position: relative;
    z-index: 9999999999;
}

 .home-center1 .tabs-wrap1 li a.active::before {
    
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: -1px;
    z-index: 9999999999;
}

 .home-center1 .tabs-wrap1 li a.buy1 {
    background-color: rgba(226, 26, 34, 1);
    border-radius: 2px;
    
}

 .home-center1 .tabs-wrap1 li a.rent1 {
    background-color: rgba(58, 125, 227, 1);
    border-radius: 2px;
   
}

 .home-center1 .search-wrap1 input {
    width: 80%;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
  
}

.home-center1 .search-wrap1 button {
    width: 20%;
    padding: 0px;
    height: 48px;
    line-height: 40px;

}


.bank-logo {
    padding-bottom: 30px;
}

.house-card {
    width: 100%;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.house-card:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.house-card .image-wrap {
    position: relative;
    width: 100%;
    height: 140px;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
    padding-top: 40%;
    background-repeat: no-repeat;

}

.house-card .image-wrap:before {
    content: '';
    display: block;

}

.house-card .image-wrap label {
    width: 100%;
    max-width: 120px;
    text-align: right;
    padding: 8px 12px;
    position: absolute;
    color: #fff;
    top: 20px;
    left: 0;
}

.house-card1 .image-wrap1 {


    background-size: cover;


}

.house-card1 .image-wrap1:before {
    content: '';
    display: block;

}

.house-card1 .image-wrap1 label {
    width: 100%;
    max-width: 120px;
    text-align: right;
    padding: 4px 12px;

    color: #fff;
    top: 20px;
    left: 0;
}
.bankpartner-slide .slick-list {

    margin: 10px 0px 16px;
}

.house-card .content-wrap {
    padding: 10px;
    background-color: #fff;
}

.house-card .content-wrap .title {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    width: 100%;
    height: 20px;
    overflow: hidden;
    word-wrap: normal;
    margin-bottom: 10px;
    color: #000;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.text-price{
    font-size: 24px;
}
.house-card .content-wrap .price {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
}
/*list porepoerti*/
.text-city{
    font-size: 12px;
    color: #808080;
}
.house-card1.buy1 label.rent1 {
    background-color: #3a7de3;
    border-radius: 2px;
}

.house-card1.rent1 .price {
    color: #e21a22;
    border-radius: 2px;
}

/*+ for buy*/
.house-card1.buy1 label.buy1 {
    background-color: #e21a22;
    border-radius: 2px;
}

.house-card1.buy1 .price {
    color: #e21a22;
    border-radius: 2px;
}


.house-card1 {
    width: 100%;

    border-radius: 1px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0);
 }

.house-card1:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0);
}

.house-card1 .image-wrap1 {
height: 147px; 
}

.house-card1 .image-wrap1:before {


}

.house-card1 .image-wrap1 label {
    width: 100%;
    max-width: 50%;
    text-align: right;
    position: absolute;
    color: #fff;
    top: 20px;
    left: 0;
    font-size: 12px;
}
@media only screen and (width: 1200px){
      .house-card1 .image-wrap1 label {
  width: 100%;
    max-width: 53%;
    text-align: right;
    position: absolute;
    color: #fff;
    top: 23px;
    padding: 7px 12px;
    left: 0;
    font-size: 11px;
    height: 29px;
}
    } 

@media only screen and (max-width: 900px){
      .house-card1 .image-wrap1 label {
  width: 100%;
    max-width: 26%;
    text-align: right;
    position: absolute;
    color: #fff;
    top: 23px;
    padding: 7px 12px;
    left: 0;
    font-size: 11px;
    height: 29px;
}
    }         
/*.bankpartner-slide .slick-list {

    margin: 10px 0px 16px;
}*/

.house-card1 .content-wrap {
    padding: 10px;
    background-color: #fff;
}

.house-card1 .content-wrap .title {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    width: 100%;
    height: 20px;
    overflow: hidden;
    word-wrap: normal;
    margin-bottom: 10px;
    color: #000;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.house-card1 .content-wrap .price {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
}


.price-property {
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    color: red;
}

.house-card .content-wrap .desc {
    color: black;
    margin-bottom: 10px;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.house-card .content-wrap .amenities .icon-text {
    margin-top: 7px;
    margin-right: 7px;
}

.house-card .content-wrap .amenities .l-button {
    font-size: 10px;
    margin-left: 5px;
}

.house-card .content-wrap .location {
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-top: 10px;
}

.house-card .content-wrap .location i {
    font-size: 24px;
    color: #444;
    float: left;
}

.house-card .content-wrap .location .text {
    width: 85%;
    float: left;
    padding-left: 10px;
}

.house-card .content-wrap .location .text span:first-child {
    font-size: 12px;
    font-weight: 700;
    display: block;
    color: #444;
}

.house-card .content-wrap .location .text span:last-child {
    font-size: 12px;
    color: #aaa;
    width: 100%;
    height: 20px; /*Bisa kurang lagi lo test aja */
    overflow: hidden;
    word-wrap: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.search-wrap li {
    font-size: 19px;
}

/*+ for rent*/
.house-card.buy label.rent {
    background-color: #3a7de3;
}

.house-card.rent .price {
    color: #e21a22;
}

/*+ for buy*/
.house-card.buy label.buy {
    background-color: #e21a22;
}

.house-card.buy .price {
    color: #e21a22;
}

/*END - WIDGET SEARCH*/

/*box khusus section map di page search*/
.search-map-wrap {
    width: 33.33%;
    float: left;
    padding: 8px;
    cursor: pointer;
}

@media (max-width: 1190px) {
    .search-map-wrap {
        width: 50%;
        float: left;
        padding: 8px;
    }
}

@media (max-width: 830px) {
    .search-map-wrap {
        width: 100%;
        float: left;
        padding: 8px;
    }
}

/*BEGIN - GALLERY LIST*/
.container-g {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.gallery-head {
    margin: 20px 0px 20px;
    width: 100%;
    text-align: center;
}

.gallery-head .title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 4px;
}

.gallery-head .date {
    font-size: 12px;
    font-weight: 400;
}

.s-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}

.s-image .inner-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.01);
}

.s-image .inner-image .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.s-image .inner-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.remax-red {
    color: #E11B22;
    font-weight: 800;
}

.remax-blue {
    font-weight: 800;
    color: #428bca;
}

.s-image:before {
    content: "";
    display: block;
    padding-top: 70%;
}

.gallery-list {
    position: relative;
    padding: 8px;
}

.gallery-list:after {
    content: attr(data-date);
    display: inline-block;
    padding: 8px 16px;
    background-color: #0055A5;
    color: #fff;
    position: absolute;
    z-index: 2;
    bottom: 10%;
    font-size: 12px;
    transition: .4s;
}

.gallery-list:before {
    content: attr(data-title);
    display: inline-block;
    padding: 8px 16px;
    background-color: #E21A22;
    color: #fff;
    position: absolute;
    z-index: 2;
    bottom: 25%;
    left: 8px;
    font-size: 14px;
    transition: .4s;
}

/*.gallery-list:hover:before{*/
/*content:attr(data-title);*/
/*display: inline-block;*/
/*padding: 8px 16px;*/
/*background-color: #E21A22;*/
/*color:#fff;*/
/*position: absolute;*/
/*z-index: 2;*/
/*bottom: 60px;*/
/*left: 8px;*/
/*font-size: 14px;*/
/*transition:.4s;*/
/*}*/

/*+ Photos*/
.photo-wrap {
    width: 25%;
    display: block;
}

.photos-list {
    /*padding: 0px;*/
    position: relative;
    overflow: hidden;
}

.photos-list .inner-photos {
    /*padding: 4px;*/
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.photos-list .s-image .inner-image {
    transform: scale(1);
    transition: .4s;
}

.photos-list:hover .s-image .inner-image {
    /*transform:scale(1.1);*/
    /*transition:.4s;*/
}

.photos-comment .inner-photos:before {
    content: attr(data-comment);
    width: calc(100% - 16px);
    display: block;
    position: absolute;
    left: 8px;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: -300px;
    transition: .3s;
}

.photos-item {
    position: relative;
    width: 100%;
    max-width: 25%;
    padding: 10px;
    overflow: hidden;
    float: left;
    border: 2px solid #f5f5f5;
}

.photos-item:before {
    content: "";
    display: block;
    padding-top: 60%;
}

.photos-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/*.photos-comment .inner-photos:hover:before{*/
/*bottom:8px;*/
/*transition:.3s;*/
/*}*/

/*+ Popup*/
.gallery-popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/* news */

.container-news {
    width: 90%;
    margin: 0 auto;
    clear: both;
}

.content-news {
    width: calc(100% - 290px);
    /*overflow: auto;*/
    float: left;
}

.container-news p {
    font-size: 17px;
    line-height: 1.65em;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.container-news h2 {
    margin-bottom: 5px;
    color: #0055A5;
    font-family: 'Montserrat', sans-serif;
}

.content-news a.readmore-news {
    text-decoration: none;
    color: #FFffff;
    font-weight: 400;
    border-radius: 5px;
    display: block;
    float: right;
    padding: 5px 9px;
    background: #0055A5;
}

.content-news a.readmore-news:hover {
    background: #E21A22;
}

/*.content-news article {
    border-radius: 5px;
    overflow: auto;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ececec;
}

.content-news article span {
    font-style: italic;
    color: #E21A22;
}*/

#sidebar-news {
    width: 320px;
    float: right;
    text-align: right;
    padding-left: 9px;
    padding-right: 0px;
}

#sidebar-news .block-news {
    border-radius: 5px;
    overflow: auto;
    padding: 0 10px;
    margin: 10px 0 0 10px;
}

@media (min-width: 478px) and (max-width: 960px) {

    #sidebar-news .block-news {
        text-align: left;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 477px) {
    #sidebar-news .block-news {
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }
}

.page-news {
    background: #FFffff;

}

.image-news {
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Begin - Property Carousel*/
.wide_container_3 .tab-content #tab1 {
    height: 100%;
}

.owl-prop-carousel {
    position: relative;
}

.owl-prop-carousel,
.owl-prop-carousel .owl-stage-outer,
.owl-prop-carousel .owl-item,
.owl-prop-carousel .owl-item > div,
.owl-prop-carousel .owl-stage {
    width: 100%;
    height: 100%;
    
}

.owl-prop-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, 0);
    z-index: 5;
}

.owl-prop-carousel .owl-controls .owl-nav i {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    color: #444;
    font-weight: 900;
    text-align: center;
}

.owl-prop-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, 0);
    z-index: 5;
}

.owl-prop-carousel .owl-prop-item {
    width: 100%;
    height: 100%;
    position: relative;


}

.owl-prop-carousel .owl-prop-back {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(20px); /* Works on > IE 10,  */
}

.owl-prop-carousel .owl-prop-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.owl-prop-carousel .owl-prop-img img {
    width: auto;
    height: 100%;
    margin: 0 auto;

}

/*End - Property Carousel*/

/*Begin - Slick Bank Partner*/
.bankpartner-slide .slick-list {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
}

.bankpartner-slide .slick-dots {
    width: 100%;
    text-align: center;
}

.bankpartner-slide .slick-dots li {
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
}

.bankpartner-paging {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #aaa;
    cursor: pointer;
}

.bankpartner-paging:hover {
    opacity: 0.7;
}

.bankpartner-slide .slick-dots li.slick-active .bankpartner-paging {
    background-color: rgba(58, 125, 227, 1);
}

/*End - Slick Bank Partner*/

.button-agents {
    border-radius: 10px;
    padding: 10px 20px;
    background: white;
    color: black;
    font-weight: 500;
    opacity: 0.9;
    font-size: 19px;
    border: 2px solid grey;
}

.button-agents:hover {
    border-radius: 10px;
    padding: 10px 20px;
    background: black;
    color: white;
    opacity: 0.9;
    font-size: 19px;
    border: 2px solid darkslategrey;
}

@media (max-width: 991px) {
    .wide_container_3 .wide-inner {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 20px;
    }

    .wide_container_3 .wide-inner .col-md-6,
    .wide_container_3 .wide-inner .col-md-2 {
        width: 100% !important;
    }
}

@media only screen and (min-width: 569px) and (max-width: 960px) {

    .content-news {
        width: 100%;
        overflow: auto;
        float: left;
        transition: width 1s;
    }

    .container-news p {
        font-size: 15px;
        line-height: 1.65em;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
    }

    #sidebar-news {
        width: 100%;
        float: left;
        margin: auto;
    }

}

@media only screen and (min-width: 240px) and (max-width: 780px) {
    .content-news {
        width: 100%;
        overflow: auto;
        float: left;
        transition: width 1s;
    }

    .container-news p {
        font-size: 13px;
        line-height: 1.65em;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
    }

    #sidebar-news {
        width: 100%;
        float: left;
        margin: auto;
    }

    .parallax {
  min-height: 140px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}
}

/* for agent,about,franchise(page) */

.agentHightlight p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}


/*.parallax:before {
    content:'';
    display: block;
    padding-top:50%;

}*/

.agent-content-red {
    background: #DF1A23;
    border: 2px;
    border-radius: 5px;
    color: #536670;
}

.agent-content-blue {
    background: #007acd;
    border: 2px;
    border-radius: 5px;
    color: #536670;
}

.banner-agent {
    position: relative;
}

.container p {
    text-align: justify;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.7;

}

.agent-content-top {
    background-color: #007acd;
    border: 2px;
    border-radius: 5px;
    padding: 5px;
}

.agent-top-txt {
    color: white;
    padding: 8px;
}

.agent-content-top h4 {
    border: 2px;
    border-radius: 5px;

}

.remaxBlueColor {
    color: #1274bd
}

.container h2 {
    text-align: center;
    margin: 20px 0;
}

.alignCenter p {
    text-align: center
}

.wrapper-main-agent {
    width: 100%;
    background-color: white;

}

.content-main-agent {
    padding: 100px 8%;
    margin: auto;

}

.content-main-agent .bottom-agent {
    text-align: center;
}

.image-ceo {
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;

}

.content-main-agent h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 20px;
    /*font-weight: 700;*/
    letter-spacing: 1px;
    line-height: 1.5em;
}

.content-main-agent h3 {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: #0055A5;

}

.logo-main-agent {
    background-size: cover;
    background-position: center;
    height: 70px;
    width: 300px;
    position: relative;
    display: inline-block;
}

.news-image {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.caption {
    position: absolute;
    opacity: 0.8;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}

.caption span.border {
    background-color: #E21A22;
    opacity: 0.7;
    color: white;
    padding: 18px;
    letter-spacing: 10px;
    font-size: 30px;
    border: 2px;
    border-radius: 10px;
}

.caption span.border-btm {
    background-color: #0055A5;
    opacity: 0.7;
    color: white;
    padding: 18px;
    letter-spacing: 10px;
    font-size: 25px;
    border-radius: 10px
}

.agents-item {
    width: 25%;
    float: left;
}

.agents-item p {
    color: black;
    font-weight: 100;
}

.container h4 {
    color: #E21A22;
}

.title-agent {
    color: #E21A22 !important;
}

.signature .ceo-name {
    color: #E21A22;
    float: left;

}

.signature .ceo-position {
    color: #0055A5;
    float: left;
}

.content-main-agent .title-vision {
    padding-top: 5px;
    margin-bottom: 10px;
}

.title-vision-wrapper {
    width: 20%;
}

@media only screen and (min-width: 1120px) {

    .content-main-agent h2 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 50px;
        font-size: 25px;
        /*font-weight: 700;*/
        letter-spacing: 1px;
        line-height: 1.5em;
        font-family: 'Montserrat', sans-serif;
    }

}

@media (max-width: 650px) {
    .photos-item {
        position: relative;
        width: 100%;
        max-width: 50%;
        padding: 10px;
        overflow: hidden;
        float: left;
        border: 4px solid #f5f5f5;
    }
}

@media screen and (min-width: 500px) and (max-width: 760px) {

    .caption span.border {
        background-color: #E21A22;
        opacity: 0.7;
        color: white;
        padding: 18px;
        letter-spacing: 5px;
        font-size: 18px;
        border: 2px;
        border-radius: 10px
    }

    .agents-item {
        width: 100%;
    }

    .agents-item p {
        font-size: 15px;
    }

    .col-xs-9 {
        width: 100%;
    }

    .col-xs-3 {
        width: 100%;
    }

    .content-main-agent {
        padding: 50px 10px;
        margin: auto;

    }

    .bottom-agent p {
        font-size: 15px;
    }

    .content-main-agent h2 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 50px;
        font-size: 15px;
        /*font-weight: 700;*/
        letter-spacing: 1px;
        line-height: 1.5em;
        font-family: 'Montserrat', sans-serif;

    }

    .container p {
        font-size: 13px;
    }

}

@media screen and (min-width: 761px) and (max-width: 1198px) {
    .col-xs-3 {
        /*width: 100%;*/
    }

    .col-xs-9 {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .photos-item {
        position: relative;
        width: 100%;
        max-width: 100%;
        padding: 10px;
        overflow: hidden;
        float: left;
        border: 4px solid #f5f5f5;
    }
}

@media screen and (min-width: 240px) and (max-width: 499px) {

    .caption span.border {
        background-color: #E21A22;
        opacity: 1.7;
        color: white;
        padding: 18px;
        letter-spacing: 5px;
        font-size: 13px;
        border: 2px;
        border-radius: 10px
    }

    .agents-item {
        width: 100%;
    }

    .col-xs-9 {
        width: 100%;
    }

    .col-xs-3 {
       /* width: 100%;
        float: right;*/
    }

    .ceo-name {
        float: left;
    }

    .ceo-position {
        float: left;
    }

    .agents-item p {
        font-size: 13px;
    }

    .content-main-agent {

        padding: 50px 10px;
        margin: auto;
    }

    .bottom-agent p {
        font-size: 13px;
    }

    .content-main-agent h2 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 50px;
        font-size: 15px;
        /*font-weight: 700;*/
        letter-spacing: 1px;
        line-height: 1.5em;
        font-family: 'Montserrat', sans-serif;
    }

    .container p {
        font-size: 13px;
        line-height: 1.5;
    }

}


.kito .dropup,
.kito .dropdown {
  position: relative;
}
.kito .dropdown-toggle:focus {
  outline: 0;
}
.kito .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.kito .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.kito .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.kito .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.kito .dropdown-menu > li > a:hover,
.kito .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.kito .dropdown-menu > .active > a,
.kito .dropdown-menu > .active > a:hover,
.kito .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.kito .dropdown-menu > .disabled > a,
.kito .dropdown-menu > .disabled > a:hover,
.kito .dropdown-menu > .disabled > a:focus {
  color: #777;
}
.kito .dropdown-menu > .disabled > a:hover,
.kito .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.kito .open > .dropdown-menu {
  display: block;
}
.kito .open > a {
  outline: 0;
}
.kito .dropdown-menu-right {
  right: 0;
  left: auto;
}
.kito .dropdown-menu-left {
  right: auto;
  left: 0;
}
.kito .dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.kito .dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.kito .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.kito .dropup .caret,
.kito .navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.kito .dropup .dropdown-menu,
.kito .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .kito .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .kito .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

.kito .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.kito .nav > li {
  position: relative;
  display: block;
}
.kito .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.kito .nav > li > a:hover,
.kito .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.kito .nav > li.disabled > a {
  color: #777;
}
.kito .nav > li.disabled > a:hover,
.kito .nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.kito .nav .open > a,
.kito .nav .open > a:hover,
.kito .nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.kito .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.kito .nav > li > a > img {
  max-width: none;
}
.kito .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.kito .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.kito .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.kito .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.kito .nav-tabs > li.active > a,
.kito .nav-tabs > li.active > a:hover,
.kito .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.kito .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.kito .nav-tabs.nav-justified > li {
  float: none;
}
.kito .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.kito .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .kito .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .kito .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.kito .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.kito .nav-tabs.nav-justified > .active > a,
.kito .nav-tabs.nav-justified > .active > a:hover,
.kito .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .kito .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .kito .nav-tabs.nav-justified > .active > a,
  .kito .nav-tabs.nav-justified > .active > a:hover,
  .kito .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.kito .nav-pills > li {
  float: left;
}
.kito .nav-pills > li > a {
  border-radius: 4px;
}
.kito .nav-pills > li + li {
  margin-left: 2px;
}
.kito .nav-pills > li.active > a,
.kito .nav-pills > li.active > a:hover,
.kito .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.kito .nav-stacked > li {
  float: none;
}
.kito .nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.kito .nav-justified {
  width: 100%;
}
.kito .nav-justified > li {
  float: none;
}
.kito .nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.kito .nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .kito .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .kito .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.kito .nav-tabs-justified {
  border-bottom: 0;
}
.kito .nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.kito .nav-tabs-justified > .active > a,
.kito .nav-tabs-justified > .active > a:hover,
.kito .nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .kito .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .kito .nav-tabs-justified > .active > a,
  .kito .nav-tabs-justified > .active > a:hover,
  .kito .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.kito .tab-content > .tab-pane {
  display: none;
}
.kito .tab-content > .active {
  display: block;
}
.kito .nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.kito .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .kito .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .kito .navbar-header {
    float: left;
  }
}
.kito .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.kito .navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .kito .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .kito .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .kito .navbar-collapse.in {
    overflow-y: visible;
  }
  .kito .navbar-fixed-top .navbar-collapse,
  .kito .navbar-static-top .navbar-collapse,
  .kito .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.kito.navbar-fixed-top .navbar-collapse,
.kito .navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 768px) and (orientation: landscape) {
  .kito .navbar-fixed-top .navbar-collapse,
  .kito .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.kito .container > .navbar-header,
.kito .container-fluid > .navbar-header,
.kito .container > .navbar-collapse,
.kito .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .kito .container > .navbar-header,
  .kito .container-fluid > .navbar-header,
  .kito .container > .navbar-collapse,
  .kito .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.kito .navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .kito .navbar-static-top {
    border-radius: 0;
  }
}
.kito .navbar-fixed-top,
.kito .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .kito .navbar-fixed-top,
  .kito .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.kito .navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.kito .navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.kito .navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.kito .navbar-brand:hover,
.kito .navbar-brand:focus {
  text-decoration: none;
}
.kito .navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .kito .navbar > .container .navbar-brand,
  .kito .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.kito .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.kito .navbar-toggle:focus {
  outline: 0;
}
.kito .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.kito .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .kito .navbar-toggle {
    display: none;
  }
}
.kito .navbar-nav {
  margin: 7.5px -15px;
}
.kito .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .kito .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .kito .navbar-nav .open .dropdown-menu > li > a,
  .kito .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .kito .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .kito .navbar-nav .open .dropdown-menu > li > a:hover,
  .kito .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .kito .navbar-nav {
    float: left;
    margin: 0;
  }
  .kito .navbar-nav > li {
    float: left;
  }
  .kito .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.kito .navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
  .kito .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .kito .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .kito .navbar-form .form-control-static {
    display: inline-block;
  }
  .kito .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .kito .navbar-form .input-group .input-group-addon,
  .kito .navbar-form .input-group .input-group-btn,
  .kito .navbar-form .input-group .form-control {
    width: auto;
  }
  .kito .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .kito .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .kito .navbar-form .radio,
  .kito .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .kito .navbar-form .radio label,
  .kito .navbar-form .checkbox label {
    padding-left: 0;
  }
  .kito .navbar-form .radio input[type="radio"],
  .kito .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .kito .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 768px) {
  .kito .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .kito .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .kito .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.kito .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.kito .navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.kito .navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.kito .navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.kito .navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.kito .navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .kito .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .kito .navbar-left {
    float: left !important;
  }
  .kito .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .kito .navbar-right ~ .kito .navbar-right {
    margin-right: 0;
  }
}
.kito .navbar-default {
  background-color: #ffffff;
 
}
.kito .navbar-default .navbar-brand {
  color: #777;
  margin-left: 20px;
}
.kito .navbar-default .navbar-brand:hover,
.kito .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.kito .navbar-default .navbar-text {
  color: #777;
}
.kito .navbar-default .navbar-nav > li > a {
  color: #000000;
}
.kito .navbar-default .navbar-nav > li > a:hover,
.kito .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}
.kito .navbar-default .navbar-nav > .active > a,
.kito .navbar-default .navbar-nav > .active > a:hover,
.kito .navbar-default .navbar-nav > .active > a:focus {
  color: #1274bd;
  background-color: transparent;
}
.kito .navbar-default .navbar-nav > .disabled > a,
.kito .navbar-default .navbar-nav > .disabled > a:hover,
.kito .navbar-default .navbar-nav > .disabled > a:focus {
  color: #000000;
  background-color: transparent;
}
.kito .navbar-default .navbar-toggle {
  border-color: #ddd;
}
.kito .navbar-default .navbar-toggle:hover,
.kito .navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.kito .navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.kito .navbar-default .navbar-collapse,
.kito .navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.kito .navbar-default .navbar-nav > .open > a,
.kito .navbar-default .navbar-nav > .open > a:hover,
.kito .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #e7e7e7;
}
@media (max-width: 768px) {
  .kito .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .kito .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: transparent;
  }
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1274bd;
    background-color: transparent;
  }
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #000000;
    background-color: transparent;
  }
}
.kito .navbar-default .navbar-link {
  color: #777;
}
.kito .navbar-default .navbar-link:hover {
  color: #333;
}
.kito .navbar-default .btn-link {
  color: #777;
}
.kito .navbar-default .btn-link:hover,
.kito .navbar-default .btn-link:focus {
  color: #333;
}
.kito .navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.kito .navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}
.kito .navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.kito .navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-brand:hover,
.kito .navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.kito .navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-nav > li > a:hover,
.kito .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.kito .navbar-inverse .navbar-nav > .active > a,
.kito .navbar-inverse .navbar-nav > .active > a:hover,
.kito .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.kito .navbar-inverse .navbar-nav > .disabled > a,
.kito .navbar-inverse .navbar-nav > .disabled > a:hover,
.kito .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.kito .navbar-inverse .navbar-toggle {
  border-color: #333;
}
.kito .navbar-inverse .navbar-toggle:hover,
.kito .navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.kito .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.kito .navbar-inverse .navbar-collapse,
.kito .navbar-inverse .navbar-form {
  border-color: #101010;
}
.kito .navbar-inverse .navbar-nav > .open > a,
.kito .navbar-inverse .navbar-nav > .open > a:hover,
.kito .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 768px) {
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
   .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.kito .navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-link:hover {
  color: #fff;
}
.kito .navbar-inverse .btn-link {
  color: #9d9d9d;
}
.kito .navbar-inverse .btn-link:hover,
.kito .navbar-inverse .btn-link:focus {
  color: #fff;
}
.kito .navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.kito .navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}
/* list Property*/

