::-webkit-input-placeholder { color:#afafaf; font-size: 14px; }
::-moz-placeholder          { color:#afafaf; font-size: 14px; }
:-moz-placeholder           { color:#afafaf; font-size: 14px; }
:-ms-input-placeholder      { color:#afafaf; font-size: 14px; }

.input-group {
	width: 100%;
	padding-bottom: 10px;
}
.input-group span, .form-group span, label, .form-inline span{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.form-control {
	height: auto;
	border: $border;
	padding: 14px;
	@include border-radius(0);
	font-size: 16px;
	color: #1f2126;
}
.calendar {
	select {
		width: calc(50% - 2px);
		display: inline-block;
	}
	label {
		display: inherit;
	}
}
.form-inline {
	margin-bottom: 15px;
	span {
		margin-top: 10px;
		display: inline-block;
	}
	.form-control {
		vertical-align: top;
	}
}
.fullwidth {
	width: 100%;
	.form-group {
		width: 100%;
		textarea {
			width: calc(100% - 154px);
		}
	}
}
.btn {
	text-transform: uppercase;
	background-color: $color-switched;
	border-color: $color-switched;
	padding: 16px 0;
	font-size: 14px;
	color: #ffffff;
	font-weight: 600;
	vertical-align: bottom;
}
.btn-default {
	background-color: transparent;
	border: 1px solid $color-switched;
	color: $color-switched;
}
.btn-default:hover {
	color: #fff;
	background-color: $color-switched;
	border-color: $color-switched;
}
.btn-block {
	border: none;
	@include border-radius(0);
}
.btn-lg, .btn-large {
	padding: 15px 0;
	width: 255px;
	height: 50px;
}
.btn-large-gst {
	padding: 15px 0;
	width: 190px;
	height: 50px;
}
.btn-sm, .btn-small {
	padding: 9px 0;
	width: 125px;
	height: 40px;
}
.btn-xs, .btn-mini {
	padding: 2px 0;
	width: 125px;
	height: 25px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: $hover-switched;
	border-color: $hover-switched;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0px auto -webkit-focus-ring-color;
}
input[type="checkbox"] {
	width: 17px;
	height: 17px;
	border: none;
	background: none;
	background-color: #dadada;
	margin: 3px 15px 0 0;
}
.checkbox.switch {
	padding-left: 0px;
	.icheckbox {
		@include border-radius(12px);
		@include box-shadow(none);
		@include transition(0.3s);
		border: 2px solid #cdcdcd;
		background-color: #cdcdcd;
		display: inline-block;
		height: 20px;
		position: relative;
		width: 35px;
		top: -1px;
		vertical-align: middle;
		margin-right: 15px;
		&:hover {
			border-color: #1396e2;
		}
		&:hover:before {
			@include opacity(1);
		}
		&:before {
			@include transition(0.3s);
			@include border-radius(50%);
			background-color: #fff;
			content: "";
			height: 14px;
			width: 14px;
			position: absolute;
			left: 1px;
			top: 1px;
		}
	}
	.icheckbox.checked {
		border-color: $color-switched;
		background-color: $color-switched;
		&:before {
			background-color: #fff;
			left: 16px;
		}
	}
}

/***** Modal Login-Registration-Error*****/

.modal-form {
	h2 {
		font-size: 25px;
		margin-top: 8px;
	}
	span {
		font-weight: normal;
	}
	.modal-header {
		background: #f2f2f2;
		border-bottom: 0;
		span{
			color: #8c9397;
		}
	}
	.modal-body{
		.form-group {
			width: 100%;
			line-height: 41px;
			padding-left: 5px;
		}
	}
	.modal-footer {
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		background: #fff;
		border-top:0;
		span{
			margin-bottom:2px;
			text-align:right;
			font-size:12px;
			white-space:nowrap;
			color: #8c9397;
			float: left;
		}
	}
	label {
		font-size: 15px;
		color: #35393b;
	}
	.text-center {
		height: auto;
	}
	.btn{
		width: 125px;
		padding: 10px 0;
		margin:0 0 10px 0;
		outline:none;
	}
}
.clearfix {
	width: 100%;
}
.modal-open {
	overflow: auto;
}
.modal-body {
	.form-group {
		input {
			padding: 0 10px;
			width: 100% ;
			border:0px;
			border-bottom:  1px solid #e6e6e6;
			margin-bottom: 15px ;
		}
		::-webkit-input-placeholder {
			color:$main-text;
			font-weight: bold;
		}
		:-moz-placeholder {
			color:$main-text;
			opacity:  1;
			font-weight: bold;
		}
		::-moz-placeholder {
			color:$main-text;
			opacity:  1;
			font-weight: bold;
		}
		:-ms-input-placeholder {
			color:$main-text;
			font-weight: bold;
		}
	}
}
#modal-register{
	@extend .modal-form;

	.modal-dialog{
		margin-top: 100px;
	}
	label {
		margin-bottom: 5px;
	}
	.modal-body{
		padding-bottom:0px;
	}
	.modal-footer{
		span{
			margin-top:10px;
		}
		.form-group{
			width: 100%;
			border-bottom: 1px solid #e6e6e6;
			padding-left: 5px;
		}
		span.terms{
			display: block;
			float:none;
			padding-bottom: 20px;
			text-align: center;
		}
	}
	.user-type-select {
		margin-bottom: 15px;

		div{
			display: inline-block;
			margin-right: 60px;
		}

		input[type="radio"] {
			display:none;
		}
		input[type="radio"] + label {
			position: static;
			color: #8c9397;
			font-weight:normal;
		}
		input[type="radio"]:checked + label {
			color: $color-switched;
		}
		input[type="radio"] + label span {
			display:inline-block;
			position: relative;
			border: 1px solid #e6e6e6;
			width:19px;
			height:19px;
			margin:-1px 4px 0 0;
			vertical-align:middle;
			cursor:pointer;
			@include border-radius(50%);
			background-color:#fff;
		}
		input[type="radio"] + label span span{
			background-color: #fff;
			position:relative;
			top: -3px;
			left: 3px;
			width: 11px;
			height: 11px;
			border: 0;
		}
		input[type="radio"]:checked + label span span{
			background-color: $color-switched;
		}
	}
}
#modal-login {
	@extend .modal-form;
	.modal-dialog {
		margin-top: 120px;
	}
	label {
		margin-bottom: 5px;
	}
	.modal-body {
		padding-bottom: 7px;

		.form-group.social-login{
			line-height: 54px;
		}
		.form-group:first-child{
			margin-bottom: 26px; display: table;
		}
		.form-group:nth-child(2){
			margin-bottom: 5px; display: table;
		}
		input {outline: none;}
		input:-webkit-autofill {
	    @include box-shadow(inset 0 0 0 50px #fff !important);
	    -webkit-text-fill-color: #999 !important; /* цвет текста */
	    color: #999 !important; /* цвет текста */
		}
	}
	.modal-footer {
		span:first-child{
			margin-top:2px;
		}
	}
	.fa {
		width:15px;
		height: 15px;
		position: absolute;
		right: 40px;
		margin-top: 10px;
		font-size: 24px;
		color: #ddd;
	}
	.social-login {
		text-transform:uppercase;
		font-size:85%;
		.col-md-6{
			padding:0;
		}
		.fa {
			position: static;
			margin: 0 5px 0 0;
			font-size:15px;
			color:inherit;
		}
		.fb-login {
			padding-right:30px;
			color: #3b5998;
		}
	}
	.google-login {
		color: #db5138;
		.fa{
			margin-left: 5%;
		}
	}
}
#modal-error {
	@extend .modal-form;

	.modal-dialog {
		margin-top: 83px;
	}
	textarea {
		width: 100%;
		border-color: #e6e6e6;
		height: 175px;
		resize: none;
	}
	textarea:focus {
		outline: none;
	}
	.modal-body {
		padding-bottom: 10px;
		padding-top: 25px;
		.form-group{
			line-height: 40px;
			padding-left: 0px;
			label {
				margin-bottom: 5px;
			}
		}
		.form-group:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
	.btn.btn-block {
		width: 100%;
		margin: 0;
		@include border-radius(4px);
		background-color: #ea7713;
    border-color: #ea7713;
	}
	.btn.btn-block:hover {
		background-color: #f45040;
		color: #fff;
	}
	.modal-footer {
		.form-group {
			width: 100%;
			margin: 0 0 20px 0px;
		}
	}
}

/***** Custom property galery *****/

.custom-galery {
	input{
		display:none;
	}
	.overlay{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.9);
		width: 100%;
	}
	.overlay label{
		width: 58px;
		height:58px;
		position: absolute;
		right: 20px;
		top: 20px;
		background: url(../img/cross.png);
		z-index: 100;
		cursor:pointer;
	}
	.overlay nav {
		text-align: center;
		position: relative;
    top: 50%;
		font-size: 54px;
		@include transform(translateY(-50%));
	}
	.overlay ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		position: relative;
	}
	.overlay ul li {
		display: block;
		height: 20%;
		height: calc(100% / 5);
		min-height: 54px;
	}
	.overlay ul li a {
		font-weight: 300;
		display: block;
		color: white;
		text-decoration:none;
		@include transition(color 0.2s);
		font-family: 'NotCourierSans';
		text-transform:uppercase;
	}
	.overlay ul li a:hover,
	.overlay ul li a:focus {
		color: #849368;
	}
	.lower~.overlay-hugeinc{
		@include opacity(0);
		visibility: hidden;
		@include transition(opacity 0.5s, visibility 0s 0.5s);
		z-index: 100;
	}
	.gal:checked~.overlay-hugeinc{
		@include opacity(1);
		visibility: visible;
		@include transition(opacity 0.5s);
	}
	.overlay-hugeinc nav {
		-moz-perspective: 300px;
	}
	.overlay-hugeinc nav ul {
		@include opacity(0.4);
		@include transform(translateY(-25%) rotateX(35deg));
		@include transition(transform 0.5s, opacity 0.5s);
	}
	.gal:checked~.overlay-hugeinc nav ul {
		@include opacity(1);
		@include transform(rotateX(0deg));
	}
	.gal:not(:checked)~.overlay-hugeinc nav ul {
		@include transform(translateY(25%) rotateX(-35deg));
	}
	.owl-item {
		float: left;
	}
	.item {
		height: 800px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		margin: 0 25%;
	}
}

/***** Tabs *****/

.tabs {
	.tab-links {
		padding: 0;
		margin-top: 1px;
		li {
			text-align: center;
			list-style:none;
			border-left: 1px solid #F1F1F2;
		}
		li:last-child {
			border-right: 1px solid #F1F1F2;
		}
		a {
			display:inline-block;
			font-size:16px;
			font-weight:600;
			color:#4c4c4c;
			@include transition(all linear 0.15s);
		}
		a:hover, li:hover {
			background: #F8F8F8;
			text-decoration:none;
		}
		img {
			width: 20px;
			margin-right: 5px;
			vertical-align: text-top;
		}
		.street-view-image {
			width: 13px;
		}
	}
	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}
	.tab-content {
		padding:0px;
		@include border-radius(3px);
		@include box-shadow(-1px 0px 1px rgba(0,0,0,0.15));
		background:#fff;
		height: 350px;
	}
	.tab {
		display:none;
	}
	.tab.active {
		display:block;
	}
}

/***** checkbox *****/

.features {
	.ffs-bs {
		margin: 0;
		padding-bottom: 0px;
		float: right;
		.btn {
			margin: 0 0 45px 0;
			background-color: $orange;
			border-color: $orange;
		}
		.btn:hover {
			background-color: $corall;
		}
	}
}
.submit-features {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
	}
}
.checkbox {
	.icheckbox {
		@include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
		position: relative;
		display: inline-block;
		vertical-align: middle;
		display: inline-block;
		height: 17px;
		margin-right: 10px;
		position: relative;
		width: 17px;
		@include border-radius(3px);
		top: -1px;
		border: 1px solid #DADADA;
		background-color: #fff;
	}
	.checked {
		background-color: $color-switched;
		border: 1px solid $color-switched;
		@include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0));
	}
	.icheckbox:after {
		@include transition(0.3s);
		-webkit-font-smoothing: antialiased;
		font-family: 'fontawesome';
		color: #fff;
		content: "\f00c";
		position: absolute;
		line-height: 17px;
		left: 2px;
		font-size: 12px;
	}
	label {
		font-size: 14px;
	}
}
.switch {
	.icheckbox:after {
		color: transparent;
	}
}

/***** range slider *****/

.jslider {
	top: 12px;

	.jslider-value {
		background-color: #fff;
		color: #000;
		font-size: 12px;
		font-weight: bold;
		border: 2px solid #f0f0f0;
		top: -50px;
		padding: 9px;
	}
	.jslider-bg {
		i {
			height: 7px;
		}
		.l, .f, .r {
			background: none;
			background-color: #dadada;
			height: 4px;
		}
		.v {
			background: none;
			background-color: $color-switched;
			height: 7px;
			top: -2px;
		}
	}
	.jslider-pointer {
		background-color: #fff;
		height: 20px;
		width: 20px;
		border: 1px solid #dbdbdb;
		@include border-radius(50%);
		top: -8px;
	}
	.jslider-pointer:after, .jslider-pointer:before, .jslider-pointer-to:after, .jslider-pointer-to:before {
		top: -8px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		z-index: 2;
	}
	.jslider-pointer:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #ffffff;
		border-left-color: #ffffff;
		border-width: 3px;
		margin-left: -2px;
		top: -10px;
	}
	.jslider-pointer:before {
		border-color: rgba(240, 240, 240, 0);
		border-top-color: #f0f0f0;
		border-left-color: #f0f0f0;
		border-width: 5px;
		margin-left: -4px;
		top: -9px;
	}
	.jslider-pointer + .jslider-pointer-to:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #ffffff;
		border-right-color: #ffffff;
		border-width: 3px;
		margin-left: -2px;
		top: -10px;
	}
	.jslider-pointer + .jslider-pointer-to:before {
		border-color: rgba(240, 240, 240, 0);
		border-top-color: #f0f0f0;
		border-right-color: #f0f0f0;
		border-width: 5px;
		margin-left: -4px;
		top: -9px;
	}
	.jslider-pointer.slide-right:after, .jslider-pointer-to.slide-right:after {
		border-width: 3px !important;
		margin-left: -12px !important;
		top: -10px !important;
	}
	.jslider-pointer.slide-right:before, .jslider-pointer-to.slide-right:before {
		border-width: 5px !important;
		margin-left: -14px !important;
		top: -9px !important;
	}
}
.price-range {
	@include transition(0.3s);
	margin-bottom: 20px;
	padding: 50px 0 10px;

	.jslider-label, .jslider-value {
		color: #5a5a5a;
	}
}

/****** Preloader ********/

#page-preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 100500;
	margin: -60px 0 0 -60px;
}
#page-preloader .loader-ring, #page-preloader .loader-ring2  {
	border: 30px solid #000;
	@include border-radius(30px);
	height: 30px;
	width: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0.0
}
#page-preloader .loader-ring {
	-webkit-animation: pulsate 1.6s linear infinite;
	-moz-animation: pulsate 1.6s linear infinite;
	-ms-animation: pulsate 1.6s linear infinite;
	animation: pulsate 1.6s linear infinite;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
#page-preloader .loader-ring2 {
	-webkit-animation: pulsate2 1.6s linear infinite;
	-moz-animation: pulsate2 1.6s linear infinite;
	-ms-animation: pulsate2 1.6s linear infinite;
	animation: pulsate2 1.6s linear infinite;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-delay: -.8s;
	-moz-animation-delay: -.8s;
	-ms-animation-delay: -.8s;
	animation-delay: -.8s;
}
@-webkit-keyframes pulsate {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}
@-moz-keyframes pulsate {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}
@-ms-keyframes pulsate {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}
@keyframes pulsate {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}



@-webkit-keyframes pulsate2 {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}
@-moz-keyframes pulsate2 {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}
@-ms-keyframes pulsate2 {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}
@keyframes pulsate2 {
	0% {@include transform(scale(0.0, 0.0)); opacity: 0.5;}
	100% {@include transform(scale(1.0, 1.0)); opacity: 0.0;}
}